/*body { padding-top: 50px; }*/

.header {
    font-size: large;
    padding-left: 5px;
}
.numeroTable > :not(caption) > * > * {
   padding: 0.1rem 0.1rem;
   border-bottom-width: 0.2px;

}
.classInfo {
margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border--width: 0.15rem;

    border-radius: 0.75rem;
    border-color: black;
    padding: 20px;
    }

.day {
}

.day .dayCallout{
    adding: 1.25rem;
    margin-top: 3.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-right-width: 0.25rem;
    border-radius: 0.75rem;
    border-left-color: indianred;
    border-right-color: indianred;
    padding: 20px;
}
.dayCallout h4 {
    color: indianred;
}

.quiz.btn {
    --bs-bg-opacity: 0.1;
    display: inline-flex !important;
    adding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;

    margin-bottom: 1rem !important;

    border: 1px solid #dee2e6 !important;
    border-color: #ffc107 !important;
    border-radius: 0.25rem !important;


    /*d-inline-flex mb-3 px-2 py-1 fw-semibold text-dark bg-warning  bg-opacity-10 border border-warning
    border-opacity-10 rounded-2" target="_blank" href="https://www.spanishdict.com/lists/1551597/food-adjectives/quiz" role="button" style="
    font-size: 0.875em;*/


}
.ss .title{
    margin-top: 4rem;
    margin-bottom: 1.25rem;

    border: 1px solid #eee;
    border-top: 0px;
    border-radius: 0.75rem;

    border-left-width: 0.25rem;
    border-left-color: #5bc0de;
    border-bottom-color: #5bc0de;

    padding: 10px;
    color: #17a2b8 !important;

    /*padding-top: 60px;*/

}
/*

#sidebar-wrapper {
    position: fixed
}*/
