.header {

}



.numeroTable > :not(caption) > * > * {
   padding: 0.1rem 0.1rem;
   border-bottom-width: 0.2px;

}

.day .dayCallout{
    adding: 1.25rem;
    margin-top: 3.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-right-width: 0.25rem;
    border-radius: 0.75rem;
    border-left-color: indianred;
    border-right-color: indianred;
    padding: 20px;
}
.dayCallout h4 {
    color: indianred;
}

.ss .title{
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;

    border: 1px solid #eee;
    border-radius: 0.20rem;

    border-left-width: 0.25rem;
    border-left-color: #5bc0de;
    border-bottom-color: #5bc0de;

    padding: 10px;
}



/*
.ss .title {
    */
/*.pb-2 {*//*

    padding-bottom: 0.5rem !important;
    */
/*.mb-4 {*//*

    margin-bottom: 1.5rem !important;
    */
/*.h4 {*//*

    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;

    */
/*.text-success {*//*

    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
    */
/*.border-bottom {*//*

      border-bottom: 1px solid #dee2e6 !important;
    */
/*.border-success {*//*

      border-color: #198754 !important;
}*/
